@model EntitledSiteAlpha.Models.BankModel

<h4>BankModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBankDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoldCost" class="control-label"></label>
                <input asp-for="GoldCost" class="form-control" />
                <span asp-validation-for="GoldCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DKPCost" class="control-label"></label>
                <input asp-for="DKPCost" class="form-control" />
                <span asp-validation-for="DKPCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllBankDetails">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
