@{
    ViewData["Title"] = "Home Page";
}
    <div class="border rounded m-4 bg-secondary text-dark text-center">
        <h1>Entitled - World of Warcraft Guild</h1>
        <img src="~/images/EntitledBanner.jpg" />
        <h3>Who we are:</h3>
        <p>We are a Classic World of Warcraft guild located on the US Fairbanks PVP server. Entitled is a tight knit community of
        WoW enthusiast, having formed many years ago with the advent of the Nostralius server. Since then, we have developed into
        other games until Blizzard announce official legacy servers. With the advent of these servers, we are looking to expand our
        roster to fill 3 full raid teams, with spots open on team 3. Please contact us from this site with more information. We
        have a raid schedule of Monday/Tuesday 8:30 CT for the weekday team, and Sunday/Monday 7:30 CT for the first weekend team.</p>
    </div>